# A way to suppress messages
function print_msg () {
    [ -z "$SUPPRESS" ] && echo "$@"
    return 0
}

function source_path () {
    local __file__="$1"
    [ -f ${__file__} ] && echo "Sourcing $(basename $__file__) from $(dirname $__file__) in $curr_file" && source ${__file__} 
}

local source_dir="$(dirname $0)"
local curr_file="$0"
source_these=(".exports"
              ".alias"
              ".functions"
              ".prompt"
              ".paths"
	        )
for file in ${source_these[@]} ; do
    source_path "$source_dir/$file"
done

#cd ~
[[ -r "/usr/share/z/z.sh" ]] && source /usr/share/z/z.sh

unset -f print_msg
